.body {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

/* These three classes control the structure of the gridView page */
.columnHolder {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftColumn {
    float: left;
    width: 65%;
}

.rightColumn {
    float: left;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 30px;
    margin-right: 15px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^ */

/* These classes are each black box, this one is for the left side column */
.one {
    background-color: white;
    width: 100%;
    height: 219px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

/* This one is for the right. */
.two {
    margin-top: 15px;
    background-color: white;
    width: 100%;
    /*height: 500px;*/
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

#stationInfo{
    margin-left: 40%;
    margin-right: 10%;
    padding: 50px 0;
}

h3 {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    font-size: large;
    color: #012F87;
}
