@import url(./colors.css);

.parent {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "div1 div2";
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
  }
  
  .Left { grid-area: Left; }
  
  .Right { grid-area: Right; }

.div1 { 
    grid-area: div1;
    background-color: black;
    min-width: 500px;
    background-image: url("../assets/images/places/foodpantry.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 500px; */
}

.title {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    color: var(--blue4point5);
    position: relative;
    top: 40%;
}

.div2 {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    background-color: var(--white);
    grid-area: div2;
    height: 500px;
    height: fit-content;
}

.div2Content {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    margin: 20px;
    font-size: 24px;
}

.div3 {
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
    margin-top: 15px;
    background-color: blueviolet;
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
    background-color: var(--white);
    height: fit-content;
}

h2 {
    font-weight: bold;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

.div3Content {
    font-size: 18px;
    font-family: "Futura", "Trebuchet MS", Arial, sans-serif;
}

