<div class="popupMask">
    <div class="popup">
        <div class="foodPopupContents">
            <div class="foodPopupContentsImage" style="background-image: url(./assets/images/food/waffles.jpg)"></div>
            <div class="foodPopupContentsText">
                <h1>Waffles</h1>
                <div class="propertyContainer">
                    <div class="propertiesLabel">PROPERTIES:</div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>
            </div>
            <div class="foodPopupLabel" style="background-image: url(./assets/images/labels/waffles.png)"></div>
        </div>
    </div>
</div>