<div class="nav">
    <div class="nav">
        <div class="metz-title" id="title">
            <div class="logo" id="logo">
                <img src="assets/metz-logo.png" alt="Metz Logo" width="120" height="120"/>
            </div>
            <div class="menu-title" id="menuTitle">
                <h1><u>TODAY'S MENU</u></h1>
                <p>Metz Culinary Management of New College of Florida</p>
            </div>
            <div class="options" id="options">
                <ul>
                    <li><div class="signUp">SIGN UP</div></li>
                    <li><a href="index.html">STATIONS</a></li>
                    <li><a href="index.html">DINNER</a></li>
                    <li><a href="index.html">LUNCH</a></li>
                    <li><a href="index.html">BRUNCH</a></li>
                    <li><a href="index.html">BREAKFAST</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>